@model List<SOUND_SYSTEM.Model.customer>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <script src="~/js/TextFile1.js"  type="text/javascript" ></script>
    <link href="~/css/theme.css" rel="stylesheet" />
    <link href="~/css/style.css" rel="stylesheet" />
    <link href="~/css/manage.css" rel="stylesheet" />
 


    
   
<!--[if IE]>
<link rel="stylesheet" type="text/css" href="css/ie-sucks.css" />
<![endif]-->

    

	<div id="container">
    	
       
        <div id="wrapper">
     

            <div id="content">




                   <table class="table table-condensed">
				
                       
                       
                       
                       	<thead>
						<tr class="cart_menu" style="text-align:center">
							<td class="image" >Order no</td>
							<td class="description">Mobile</td>
							<td class="price">Ciy</td>
							<td class="quantity">Name</td>
							<td class="total">Shipment detail</td>
							<td class="total">Status</td>
						</tr>
					</thead>
					<tbody>
						



                         

                      

                     





                
   

                        
                      



                        
                         @foreach (var i in Model)
                        {
                            
                            
                            
                          
                       
   
       
               
                        <tr >
							<td class="cart_product" style="text-align:center">
								<a href="#" > @i.orderno</a>
							</td>
							<td class="cart_description" style="text-align:center">
								<h4><a href="#">@i.mobile</a></h4>
								
							</td>
							<td class="cart_price" style="text-align:center">
								<p>@i.city</p>
							</td>
							<td class="cart_quantity" style="text-align:center">
								<div class="cart_quantity_button" >
                                   
                                    
                                     <p>@i.fname  @i.sname</p>
                                
                                </div>
							</td>
							
                            
                            <td class="cart_total" style="text-align:center">
                                <p class="cart_total_price"   href="#" >Cash On Delivery</p>
                                
							</td>
						                 
                            
                            <td class="cart_total" style="text-align:center">
                               <select>
                                   <option> New Order</option>
                                   <option>Order Verified</option>
                                   <option>Dispached</option>
                                    <option>Order delivered</option>   

                                       



                                </select>
							</td>
                                 
                            </tr>
                      

                        }  

                        
                        


					</tbody>
				</table>





                </div>

      </div>
      
</div>




 
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          @*<button type="button" class="close" data-dissmiss="modal"><span aria-hidden="true">×</span></button>*@
                    <button type="button" class="close" data-dismiss="modal">×</button>
          <h4 class="modal-title">Edit Product</h4>
        </div>
        <div class="modal-body">
          


            <form id="form" action="/Admin/addproduct"  enctype="multipart/form-data"  method="post">
                      
                      
                       <div class="form-group">
                      
                        <label for="Name">Product Name :</label> 
                        <input name="Name" class="form-control" id="Name" type="text"  tabindex="1" />
                        
                            </div>

                <div class="form-group">
                         <label for="Product_id">Product Model :</label> 
                        <input name="Product_id" class="form-control" id="Product_id" type="text"  />
                        
                    </div>

                <div class="form-group">
                        <label for="Price">Enter Price :
                        </label>
                        <input name="Price" class="form-control" id="Price" type="text"  
                        tabindex="2" />
                      
                    
                     </div>


                <div class="form-group">
                        <label for="Qty">Enter Quantity :</label>
                        <input name="Qty" class=form-control id="Qty" type="text" 
                        tabindex="2" />
                      </div>
                      
                      <div class="form-group">
                        <label for="pass">Detail : </label>
                        <textarea class="form-control" name="Description" style="width:500px;height:100px;" ></textarea>
                     
                        </div>
                           <label for="category">Select Category : </label>
                       
                      
                       
                         <div class="form-goup"> 

                              <select class="form-control" name="category">
                 <option selected="selected"></option>
                            
                                    @foreach (SOUND_SYSTEM.Model.Category obj  in (List<SOUND_SYSTEM.Model.Category>)Session["category"])
                                    {
                                   <option  label="@obj.Name" value="@obj.Name">@obj.Name
                            </option>
                                    }
                         
                         
                        </select>
                </div> 
        
                <div class="form-group">  
                    
                       <label for="File" >Upload Photos : </label>             
      <input type="file" class="form-control" id="File" name="File" " multiple/>
 
                </div> 



                 
               

                 
                          
                        </form>


        </div>
         <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="btnAdd" onclick="Add()">Add</button>
                     

                    <button type="button" class="btn btn-primary" id="btnUpdate" style="display:none;" onclick="Update();">Update</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
      </div>
      
    </div>
  </div>